<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">

<style>
#outercontainer {
	border: 1px;
	background-color: white;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 80px;
}

#align-centre {
	text-align: center;
}
</style>
</head>
<body>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>

	<h3 id="align-centre" style="margin-top: 20px">Tudip Technologies</h3>
	<h4 id="align-centre">Candidates</h4>
	<!-- <p th:text="${post.body ne null} ? ${post.body} : '(no content)'"></p> -->
	<div class="container" id="outercontainer">
		<form action="/candidate/all" method="post" id="outercontainer">
			<div class="row">
				<div class="col">
					<select id="searchBy" name="searchBy" placeholder="Search By"
						class="form-control">
						<option value="" disabled selected hidden>Search By</option>
						<option value="Name"
							th:if="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.searchBy != null && retrieveCandidateInputDTO.searchBy == 'Name'}"
							selected>Name</option>
						<option value="Name"
							th:unless="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.searchBy != null && retrieveCandidateInputDTO.searchBy == 'Name'}">Name</option>
						<option value="Mail Id"
							th:if="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.searchBy != null && retrieveCandidateInputDTO.searchBy == 'Mail Id'}"
							selected>Mail Id</option>
						<option value="Mail Id"
							th:unless="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.searchBy != null && retrieveCandidateInputDTO.searchBy == 'Mail Id'}">Mail
							Id</option>
						<option value="Phone Number"
							th:if="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.searchBy != null && retrieveCandidateInputDTO.searchBy == 'Phone Number'}"
							selected>Phone Number</option>
						<option value="Phone Number"
							th:unless="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.searchBy != null && retrieveCandidateInputDTO.searchBy == 'Phone Number'}">Phone
							Number</option>
						<option value="Address"
							th:if="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.searchBy != null && retrieveCandidateInputDTO.searchBy == 'Address'}"
							selected>Address</option>
						<option value="Address"
							th:unless="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.searchBy != null && retrieveCandidateInputDTO.searchBy == 'Address'}">Address</option>
					</select>
				</div>
				<div class="col">
					<input class="form-control" type="text" id="searchByValue"
						name="searchByValue" placeholder="Search By Value"
						th:if="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.searchByValue != null}"
						th:value="${retrieveCandidateInputDTO.searchByValue}"> <input
						class="form-control" type="text" id="searchByValue"
						name="searchByValue" placeholder="Search By Value"
						th:unless="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.searchByValue != null}">
				</div>
				<div class="col">
					<select id="sortBy" name="sortBy" class="form-control">
						<option value="" disabled selected hidden>Sort By</option>
						<option value="Name"
							th:if="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.sortBy != null && retrieveCandidateInputDTO.sortBy == 'Name'}"
							selected>Name</option>
						<option value="Name"
							th:unless="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.sortBy != null && retrieveCandidateInputDTO.sortBy == 'Name'}">Name</option>
						<option value="Mail Id"
							th:if="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.sortBy != null && retrieveCandidateInputDTO.sortBy == 'Mail Id'}"
							selected>Mail Id</option>
						<option value="Mail Id"
							th:unless="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.sortBy != null && retrieveCandidateInputDTO.sortBy == 'Mail Id'}">Mail
							Id</option>
						<option value="Phone Number"
							th:if="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.sortBy != null && retrieveCandidateInputDTO.sortBy == 'Phone Number'}"
							selected>Phone Number</option>
						<option value="Phone Number"
							th:unless="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.sortBy != null && retrieveCandidateInputDTO.sortBy == 'Phone Number'}">Phone
							Number</option>
						<option value="Address"
							th:if="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.sortBy != null && retrieveCandidateInputDTO.sortBy == 'Address'}"
							selected>Address</option>
						<option value="Address"
							th:unless="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.sortBy != null && retrieveCandidateInputDTO.sortBy == 'Address'}">Address</option>
					</select>
				</div>
				<div class="col">
					<input class="form-control" type="number" id="page" name="page"
						th:if="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.page != null}"
						th:value="${retrieveCandidateInputDTO.page}"
						placeholder="Page Number"> <input class="form-control"
						type="number" id="page" name="page"
						th:unless="${retrieveCandidateInputDTO != null && retrieveCandidateInputDTO.searchByValue != null}"
						value="1" placeholder="Page Number">
				</div>
				<div class="col">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</div>
		</form>

		<!-- <h6 th:text="${totalPages}" /> -->
		<div
			th:if="${candidateDtoList == null && retrieveCandidateInputDTO != null}">
			<h5 id="align-centre">
				No data found
				<h5>
		</div>
		<table class="table table-dark" id="outercontainer"
			th:if="${candidateDtoList != null}">
			<thead>
				<tr>
					<th scope="col">Candidate Name</th>
					<th scope="col">Phone Number</th>
					<th scope="col">Candidate Email</th>
					<th scope="col">Address</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="candidate: ${candidateDtoList}">
					<td th:text="${candidate.name}" />
					<td th:text="${candidate.phoneNumber}" />
					<td th:text="${candidate.mailId}" />
					<td th:text="${candidate.address}" />
				</tr>
			</tbody>
		</table>
		
		<p id="align-centre">Number of records per page - 5</p>
		
	</div>
	
</body>
</html>